@import url('https://fonts.googleapis.com/css?family=Montserrat:300|Source+Code+Pro');

body {
    font-family: Montserrat, sans-serif;
}
ul {
    text-align: left;
    width: 50%;
}
h1 {
    margin-bottom: 0px;
}
li {
    padding-top: 10px;
}