syntax.error {
    background-color: rgba(255, 0, 0, 0.5);
}
syntax.comment {
    color: #afafaf;
    font-style: italic;
}
syntax.entity_selector {
    color: #01e801;
}
syntax.entity_selector_inside {
    color: #00ff3b;
}
syntax.string {
    color: #30ad48;
}
syntax.entity_selector_not {
    color: #ff5557;
}
syntax.entity_selector_comma {
    color: #ffffff;
}
syntax.function {
    color: #ff57e7;
}
#editor--display {
    color: #ffffff;
}
body {
    background-color: #626361;
}
#path {
    color: #ffffff;
}